body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f8;
  display: flex;
  justify-content: center;
  padding: 40px;
}

/* Container */
.container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Heading */
h2 {
  color: #4284f5;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.1); 
  margin: 5px;
}

/* Labels */
label {
  display: block;
  margin-top: 10px;
}

/* Inputs & Select */

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input, input[type="date"] {
  
  color: #78787a;
  font-family: Helvetica, sans-serif;
  background-color: #d2d3d6;
  width:;
  padding: 5px;
  margin: ;
  font-size: 14px;
  border: none;
  position: flex;
  border-radius: 5px;
  margin-bottom: 15px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background-color: white;
  margin-left: -20px;

}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0066d3;
}

/* Swap Section */
.swap-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#swapButton {
  padding: 6px 10px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

#swapButton:hover {
  background-color: #d9edf7;
}
@media (min-width: 600px {
  select {
  width: 90%;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input, input[type="date"] {
  transform: translate(50%, 50%)
 }
}
::-webkit-calendar-picker-indicator {
  background-color: white;
  margin-right: -50px;

}